extends layout 
block content
    div(class='flex justify-center mt-4')
        div(class='grid gap-y-4 w-[28rem]')
            include ./mixins/postBlock.pug
            +postBlock(post)
            each comment in post.comments
                div(class='grid grid-cols-1')
                    div(class='flex items-start')
                        a(href=`/users/${comment.author._id}` class='mr-2 w-12 h-12 hover:scale-110 ')
                            include ./mixins/profilePicture.pug 
                            +profilePicture(comment.author,"rounded-full w-8 h-8")                        
                        div(class='bg-gray-200 rounded-md w-full p-2  grid grid-cols-[1fr_min-content]')
                            a(href=`/users/${comment.author._id}` class='font-bold hover:text-blue-600')=comment.author.username
                            if comment.author._id.toString()==user._id
                                form(method='POST' action=`/posts/${post._id}/comments/${comment._id}/delete`) 
                                    button(class='bg-red-600 hover:bg-red-800 font-bold text-white w-fit h-fit p-2 rounded text-xs mb-2') Delete
                            p(class='whitespace-pre-line max-h-60 overflow-y-auto col-span-2')=comment.text
                    p(class='text-gray-400 font-bold text-sm mt-0 justify-self-end')=comment.relativeCreatedAt 

